<div class="app">
  <table class="table table-striped">
    <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Identificador</th>
        <th scope="col">Fecha de conclusión</th>    
        <th scope="col">Tipo de subasta</th>
        <th class="number" scope="col">Importe del depósito</th>
        <th class="number" scope="col">Cantidad reclamada</th>
        <th class="number" scope="col">Tasación</th>
        <th class="number" scope="col">Valor subasta</th>
        <th class="number" scope="col">porcentaje</th>
    </thead>
    <tbody>
    <tr *ngFor="let subasta of subastas; let i = index">
        <td class="title"> {{i + 1}}</td>
        <td ><a href={{subasta.link}}>{{subasta.Identificador}}</a> </td>
        <td >{{subasta.Fechadeconclusion | formatDate}}</td>
        <td >{{subasta.Tipodesubasta}}</td>
        <td class="number">{{subasta.Importedeldeposito}}</td>
        <td class="number">{{subasta.Cantidadreclamada}}</td>
        <td class="number">{{subasta.Tasacion}}</td>
        <td class="number">{{subasta.Valorsubasta}}</td>
        <td class="number">{{subasta.porcentaje}}</td>
      </tr>
        
    </tbody>
  </table>
</div>